<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {{ message }}

                        <p>
                            Catch up with me on:
                        </p>
                        <p>
                            <a class="btn btn-primary" role="button" href="https://github.com/mwurdeman">GitHub</a>
                            <a class="btn btn-primary" role="button" href="https://www.linkedin.com/in/mwurdeman">LinkedIn</a>
                            <a class="btn btn-primary disabled" role="button">Twitter</a>
                        </p>
                    </div>
                    <div class="col-md-9">
                        <h1>Welcome to TheCodeWell</h1>
                        <p>
                            Welcome to my little corner of the web.  I plan on using this space for
                            everything from training, to showcasing my wares, to passing along
                            the information I know, and everything in between.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3><a href="http://letseatout.thecodewell.net">Let's Eat Out</a></h3>
            <p>
                So I have kids!  Lots of them, well not lots but there are more of them than my wife and I.  And they are
                bottomless pits when they decide they are hungry and want to eat.  So it can be expensive going out to dinner.
                So I decided to figure out all the places near me that have offers for eating out with kids.  This website displays
                which restaurant has a meal deal for any given day of the week.
                <br>
                <br>
                <a href="https://github.com/mwurdeman/GameOfLifeApp">View Project Repository on GitHub</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3><a href="#">Games Catalog</a></h3>
            <p>
                I love video games, and part of that love is that fact that I have a ton of games laying around that
                I haven't finished or heck that I haven't even started.  The Games Catalog app is a repository, review and comment
                system, and game completion status tracker.  This project is much more of a place to test / learn new technologies,
                so there may several different version of a specific application piece.
                <br>
                <br>
                <a href="https://github.com/mwurdeman/GamesCatalogApp">View Project Repository on GitHub</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3><a href="#">Blog</a></h3>
            <p>
                I'm a big follower of Scott Hanselman and Jeff Atwood and have followed their blogs for years.  I remember Scott
                challenged developers to get blogging and that they had a duty to share what they are learning with the rest of the
                community.  This is something I've been scared to do because I have always felt that no one can learn anything from
                me but I'm going to get a shot and see...drop me a line if mine it helpful or useful.
            </p>
        </div>
    </div>
    <hr>
</div>