<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {{ 'Hello' + '!!'}}

                        <p>
                            Catch up with me on:
                        </p>
                        <p>
                            <a class="btn btn-primary" role="button" href="https://github.com/mwurdeman">GitHub</a>
                            <a class="btn btn-primary" role="button" href="https://www.linkedin.com/in/mwurdeman">LinkedIn</a>
                            <a class="btn btn-primary disabled" role="button">Twitter</a>
                        </p>
                    </div>
                    <div class="col-md-9">
                        <h1>Welcome to TheCodeWell</h1>
                        <p>
                            Welcome to my little corner of the web.  I plan on using this space for
                            everything from training, to showcasing my wares, to passing along
                            the information I know, and everything in between.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3><a href="#">Recipe Helper App</a></h3>
            <p>
                My wife and I have something like 5 cookbooks, a box of recipe cards, and a bunch of Publix special recipes.
                It turns it a long exercise to plan out meals and even longer exercise to find that recipe again in all those
                different sources when it comes time to make it.  The idea behind the recipe helper app is to simplify that process
                and centralize those sources into a single, searchable repository.
                <br>
                <br>
                <a href="https://github.com/mwurdeman/RecipeHelperApp">View Project Repository on GitHub</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3><a href="#">Games Catalog</a></h3>
            <p>
                I love video games, and part of that love is that fact that I have a ton of games laying around that
                I haven't finished or heck that I haven't even started.  The Games Catalog app is a repository, review and comment
                system, and game completion status tracker.  This project is much more of a place to test / learn new technologies,
                so there may several different version of a specific application piece.
                <br>
                <br>
                <a href="https://github.com/mwurdeman/GamesCatalogApp">View Project Repository on GitHub</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3><a href="#">Blog</a></h3>
            <p>
                I'm a big follower of Scott Hanselman and Jeff Atwood and have followed their blogs for years.  I remember Scott
                challenged developers to get blogging and that they had a duty to share what they are learning with the rest of the
                community.  This is something I've been scared to do because I have always felt that no one can learn anything from
                me but I'm going to get a shot and see...drop me a line if mine it helpful or useful.
            </p>
        </div>
    </div>
    <hr>
</div>